<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Has solicitado una recuperacion de contraseña en tareApp 2.0, <%= @user.name %></h1>
    <p>
      Para completar el proceso visita http://desaweb1.ing.puc.cl/recover/<%= recovery.token %><br/>
	  Antes del <%= recovery.expires_at.to_s %>
    </p>
    <p>
    </p>
  </body>
</html>