<ul class="breadcrumb">
	  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
	  <li><%= link_to "Mi Perfil", "/profile/#{session[:user_id]}" %><span class="divider">/</span></li>
	  <li class="active">Editando Perfil Público</li>

	  </li>
	</ul>

<h2>Editando tu perfil público</h2>

<textarea rows="10" cols="1000" id = "text_area" name="profile"><%= @user.profile %></textarea>
<br>

<%= form_tag(edit_profile_post_path, :method => "post", :id => "form") do %>
	<input class="btn btn-inverse" type="submit" value="Guardar cambios" />
<% end %>
<hr>

<script src="//tinymce.cachefly.net/4.0/tinymce.min.js"></script>

<script>
	tinymce.init({selector: "textarea"});

	$('#form').submit(function (e) {
		$('#form').append($('<input></input>').
			attr({ type: 'hidden', name: 'profile', value: tinyMCE.activeEditor.getContent({format : 'raw'}) }));
	});
</script>