<h2>Editando tu perfil publico</h2>

<textarea rows="10" cols="100" id = "text_area" name="profile">
	<%= @user.profile %>
</textarea>

<hr>
<h4> Vista Previa </h4>
<div id = "profile_preview_div">
	<%= @user.profile %>
</div>

<script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>

<script>
	$("#text_area").change(function() {
		alert(document.getElementByI("text_area").innerHTML);
	});
</script>