<h2>Perfil de <%= @user.name + ' ' + @user.lastname %> </h2>
<hr/>
<%= raw @user.profile %>
<hr/>
<% if session[:user_id] == @user.id %>
	<%= link_to "Editar mi perfil", edit_profile_path %> | 
	<%= link_to "Cambiar contraseña", change_password_path %>
<% end %>