<% @count = [3, @top_users.count].min %>
<% for i in 0..(@count - 1) %>
	<% u = @top_users[i] %>

	<a class = "featured_user_link" href = <%= "/profile/#{u.id}" %> >
	    <div class="featured_user" onclick=>
			<%= raw u.profile %>
		</div>
	</a>
	<br/>
<% end %>