<ul class="breadcrumb">
  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
  <li class="active">Panel de Administración</li>
</ul>

<h1>Panel de administración</h1>
<div>
	<ul>
		<li><%= link_to 'Ver Usuarios', users_path %></li>
		<li><%= link_to 'Ver Buzones', homeworks_path %></li>
	</ul>
</div>
