<h1>Invitar a <%= @homework.name %></h1>
<%= form_tag("/save_homework_invites/#{@homework.id}", :method => "post") do %>
<input type="textarea" id="invitados">
<br>
<center>
<%= submit_tag "Invitar", :class => 'btn btn-primary' %></center>
<% end %>
<script>
$('#invitados').multipleInput();
</script>