<h1>Invitar a <%= @homework.name %></h1>
<%= form_tag("/save_homework_invites/#{@homework.id}", :method => "post") do %>
<input type="textarea" id="invitados">
<%= submit_tag("Invitar") %>
<% end %>
<script>
$('#invitados').multipleInput();
</script>