<ul class="breadcrumb">
  <li><a href=<%= home_path %>>Inicio</a> <span class="divider">/</span></li>
  <li class="active">Nuevo Buzón de Tareas</li>
</ul>

<h1>Nuevo Buzón de Tareas</h1>

<%= render 'form' %>

<%= link_to 'Volver', homeworks_path %>
